# Ignore all .ipynb files anywhere
*.ipynb       # In root directory
**/*.ipynb    # In any subdirectory at any depth
**/*.png
**/*.jpg

laboratorios/cnn.ipynb  # Specific notebook file
laboratorios/dataset/         # Directory containing dataset
laboratorios/drive-download-20250815T224032Z-1-001.zip  # Downloaded